<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yushilei.myapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".SimpleTinkerInApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.DragActivity" />
        <activity android:name=".ui.ViewPagerActivity" />
        <activity android:name=".ui.CCBActivity" />
        <activity android:name=".ui.TabLayoutActivity" />
        <activity android:name=".ui.BezierActivity" />
        <activity android:name=".ui.WeiChatActivity" />
        <activity
            android:name=".ui.ConstraintLayoutActivity"
            android:theme="@style/transparency" />
        <activity android:name=".ui.RemoteViewsActivity" />

        <receiver
            android:name=".receiver.MyAppWidgetProvider"
            android:enabled="true">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info" />

            <intent-filter>
                <action android:name="com.yushilei.chapter5.action" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.WindowActivity"
            android:label="@string/title_activity_window"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.XutilActivity" />
        <activity
            android:name=".ui.CoodinatorActivity"
            android:label="@string/title_activity_coodinator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.AppBarLayoutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ui.RxjavaActivity" />
        <activity android:name=".ui.CustomDrawableActivity" />
        <activity android:name=".ui.TestActivity" />
        <activity android:name=".ui.CustomRecyclerLayoutActivity" />
        <activity android:name=".ui.AnimationActivity" />
        <activity android:name=".ui.MVPActivity" />
        <activity android:name=".ui.HandlerActivity" />
        <!-- 私有进程 -->
        <activity
            android:name=".ui.ProcessIPCActivity"
            android:process=":remote" />
        <activity
            android:name=".ui.SocketActivity"
            android:process=":socket" />

        <service
            android:name=".services.MessengerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.yushilei.myapp.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.ServerSocketService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.yushilei.myapp.socket" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.WindowService"
            android:enabled="true" />
        <service
            android:name=".services.MyIntentService"
            android:exported="false" />

        <activity android:name=".ui.ViewStubActivity" />
        <activity android:name=".ui.RetrofitRxJavaActivity" />
        <activity android:name=".ui.GlideActivity" />
        <activity android:name=".ui.HttpsActivity" />
        <activity android:name=".ui.WebViewActivity" />
        <activity android:name=".ui.PhotoViewActivity" />
        <activity android:name=".ui.MatrixActivity" />
        <activity android:name=".ui.FilterActivity" />
        <activity android:name=".ui.ThreeLevelFilterActivity" />
        <activity android:name=".ui.BezierSignActivity" />
        <activity android:name=".ui.PageTurnActivity" />
        <activity android:name=".ui.ClipRegionActivity" />

        <service
            android:name=".services.LockScreenService"
            android:enabled="true" />

        <activity android:name=".ui.DesignModeActivity"></activity>
    </application>

</manifest>